@using LawFirmBusinessLogic.ViewModels
@model (List<MessageInfoViewModel> list,bool hasNext, int page)
@{
    ViewData["Title"] = "Message";
}
<div class="text-center">
    <h1 class="display-4">Сообщения</h1>
</div>
<div class="text-center">
    @{
        if (Model.list == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Номер
                    </th>
                    <th>
                        Отправитель
                    </th>
                    <th>
                        Тема
                    </th>
                    <th>
                        Дата
                    </th>
                    <th>
                        Текст
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.list)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SenderName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateDelivery)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div>
        @{
            if ((Model.page - 1) >= 1)
            {
                <a asp-action="Messages" asp-route-page="@(Model.page-1)">Prev @(Model.page-1)</a>
            }
            <div>@(Model.page)</div>
            if (Model.hasNext)
            {
                <a asp-action="Messages" asp-route-page="@(Model.page+1)">Next @(Model.page+1)</a>
            }
        }
    </div>
</div>